# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\1- Universidad\1- Universidad\repositorioPracticas\modulo_2_SI\2.4\prac1_arquitecturaHexagonal\Node\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
