# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\master\repo_master_urjc\modulo_3_AN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
